.header {
  padding: 20px;
  text-align: center;
}

body {
  height: 30vh;
  background: #ffffff;
  color: #353635;
  display: block;
  font-family: "Tahoma", sans-serif;
  margin-left: 250px;
  margin-right: 250px;
}

p1 {
  height: 25vh;
  background: #ffffff;
  color: #353635;
  display: block;
  font-family: "Tahoma", sans-serif; 
  font-size: 20px;
  text-align: center; 

}
 
h1 {
  height: 15vh;
  background: #ffffff;
  color: #349937;
  font-family: "Garamond";
  font-variant: small-caps;
  text-align: center;
  font-size: 100px;
}
h2 {
  height: 1vh;
  background: #ffffff;
  color: #349937;
  font-family: "Garamond"; 
  text-align: left;
  
  .column1 {
  float: left;
  width: 50%;
  padding: 5px;
}
  
  .column2 {
  float: left;
  width: 100%;
  padding: 5px;
}
  
}
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

