body {
  height: 100vh;
  background: #ffffff;
  color: black;
  display: block;
  justify-content: center;
  align-items: center;
}
 
h1 {
  height: 10vh;
  background: #ffffff;
  color: darkblue;
  font-family: "Verdana", sans-serif; 
  justify-content: center;
  align-items: center;
}
h2 {
  height: 5vh;
  background: #ffffff;
  color: darkblue;
  font-family: "Verdana", sans-serif; 
  justify-content: center;
  align-items: center;
}
h3 {
  height: 5vh;
  background: #ffffff;
  color: darkblue;
  font-family: "Verdana", sans-serif; 
  justify-content: center;
  align-items: center;
}
body {
  height: 10vh;
  background: #ffffff;
  color: #717171;
  font-family: "Helvetica", sans-serif; 
  justify-content: center;
  align-items: center;
  
}

div {height: 5vh;
  background: #66945F;
}
